@import url("https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Sanskrit:ital@0;1&family=Tiro+Kannada:ital@0;1&display=swap");
.material-symbols-outlined {
  font-size: 16;
}
:root {
  --bg-light: #fe3;
  --bg-normal: #fc3;
  --bg-dark: #f93;
  --fg-light: #c80;
  --fg-normal: #fff;
  --fg-dark: #900;
  --border-light: #fe3;
  --border-normal: #fc3;
  --border-dark: #f93;
  --text-bg-normal: #ffc;
  --text-bg-light: #ffe;
  --text-bg-dark: #ffa;
  --text-color-normal: #000;
  --text-color-fade: #aaa;
}
.left-vert-nav {
  display: flex;
  flex-direction: column;
  width: 40px;
}
.left-vert-nav button {
  border: 0;
  width: 100%;
  height: 40px;
  background-color: var(--bg-light);
}
.left-vert-nav button:hover {
  background-color: var(--bg-dark);
}
